<h2 class="text-center text-white display-3">Conditions Générales de ventes</h2>
<section class="container">
  <h3 class="text-center my-5">Conditions Générales de ventes</h3>

  <h4>Table des matières:</h4>
  <ul class="border-bottom pb-5">
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="champsdapplication">Article 1: Champ
        d'application</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="definition">Article 2: Définition</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="commande">Article 3: Commande du véhicule</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="prix">Article 4: Prix</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="modalitesPaiement">Article 5: Modalités de
        paiement</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="livraionVehicule">Article 6: Livraison du
        Véhicule</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="retractation">Article 7: Droit de rétractation</a>
    </li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="forceMajeure">Article 8: Cas de force majeure</a>
    </li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="garantieConformite">Article 9: Garantie légale de
        conformité</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="garantieVices">Article 10: Garantie légale contre les
        vices cachés</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="reclamations">Article 11: Réclamations</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="mediations">Article 12: Médiations</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="cession">Article 13: Cession</a></li>
    <li><a [routerLink]="['/conditionsGeneralesVentes']" fragment="loi">Article 14: Juridictions compétentes et
        loi applicable</a></li>
  </ul>
  <article id="champsdapplication" class="border-bottom pb-3 pt-2">
    <h5>Article 1 - Champ d'application</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="definition" class="border-bottom pb-3 pt-3">
    <h5>Article 2 - Définition</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="commande" class="border-bottom pb-3 pt-3">
    <h5>Article 3 - Commande du Véhicule</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="prix" class="border-bottom pb-3 pt-3">
    <h5>Article 4 - Prix</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="modalitesPaiement" class="border-bottom pb-3 pt-3">
    <h5>Article 5: Modalités de paiement</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="livraionVehicule" class="border-bottom pb-3 pt-3">
    <h5>Article 6: Livraison du Véhicule</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus
      consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="retractation" class="border-bottom pb-3 pt-3">
    <h5>Article 7: Droit de rétractation</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus
      consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="forceMajeure" class="border-bottom pb-3 pt-3">
    <h5>Article 8: Cas de force majeure</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="garantieConformite" class="border-bottom pb-3 pt-3">
    <h5>Article 9: Garantie légale de conformité</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="garantieVices" class="border-bottom pb-3 pt-3">
    <h5>Article 10: Garantie légale contre les vices cachés</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="reclamations" class="border-bottom pb-3 pt-3">
    <h5>Article 11: Réclamations</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="mediations" class="border-bottom pb-3 pt-3">
    <h5>Article 12: Médiation</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="cession" class="border-bottom pb-3 pt-3">
    <h5>Article 13: Cession</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
  <article id="loi" class=" pb-5 pt-3">
    <h5>Article 14: Juridictions compétentes et loi applicable</h5>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam totam labore, expedita sunt eligendi
      perspiciatis molestias quis doloribus. Est explicabo tenetur quae dolore, esse labore autem delectus consequuntur
      perspiciatis fugiat!</p>
  </article>
</section>
