<h2 class="text-center text-white display-3">Mentions Légales</h2>
<section class="container">
  <h3 class="text-center my-5">Mentions Légales</h3>
  <div class="border-bottom">
    <h4>Propriété</h4>
    <p>Le site Centre Auto CCAS est édité par Charlotte Constant propriété de Human Booster dont le siège social est
      situé au 15 avenue des Frères Montgolfier, 63170 Aubiere. </p>
  </div>
  <div class="border-bottom mt-3">
    <h4>Directeur de publication</h4>
    <p>La direction de la publication est assurée par Madame Charlotte Constant</p>
  </div>
  <div class="border-bottom mt-3">
    <h4>Hébergement</h4>
    <p>L'hébergeur du site Centre Auto CCAS est la société blabla.
    </p>
  </div>
  <div class="mt-3 mb-5">
    <h4>Crédits photos et illustrations</h4>
    <p>Photos de véhicules: pixabay, pexells<br>
      Illustrations: Freepik.com</p>
  </div>
</section>
