<div class="container">
  <h2 class="text-center mt-5 font-weight-bold">Connexion espace personnel</h2>

  <form [formGroup]="loginForm" class="text-center mt-5" (ngSubmit)="submitForm()">
    <ul>
      <li><input type="text" id="username" formControlName="username" placeholder="Nom d'utilisateur"></li>
      <li><input type="password" id="password" formControlName="password" placeholder="Mot de passe"></li>
      <li>
        <p>mot de passe oublié</p>
      </li>
    </ul>
    <input type="submit" class="button">
  </form>


</div>
