<body>
  <header>
    <ul class="barre d-flex justify-content-between text-white px-5 py-3">
      <li><i class="fas fa-phone-alt"></i>
        <a href="#" class="button fs-3 text-center text-white"> Contact</a>
      </li>
      <li><a href="connexion.html" class="button-red fs-3 text-center rounded-pill pt-1">Espace pro</a></li>
    </ul>
    <!-- début nav -->
    <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between py-2 px-5">
      <a><img src="assets/img/logo.png" alt="logo"></a>
      <a class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav text-uppercase text-center">
          <li class="nav-item mx-4">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link active" href="#">Qui-suis-je?</a>
          </li>
          <li class="nav-item mx-4">
            <a class="nav-link active" href="#">Me Contacter</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- fin nav -->
  </header>
</body>
