button {
  background-color:white;
  border: 4px solid rgb(10, 0, 34);

}

i {
 color: rgb(10, 0, 34);
}
.title-card-user {
  font-size: 26px;
  font-weight: bold;
  color: rgb(10, 0, 34);
}
