<app-menu></app-menu>
<router-outlet></router-outlet>

<hr>
<footer>
  <aside>
    <ul class="d-flex justify-content-around text-center">
      <li><i class="fa-2x fas fa-user"></i>
        <h3 class="">20 ans d'expérience</h3>
      </li>
      <li><i class="fa-2x fas fa-car-alt"></i>
        <h3>Véhicules disponibles<br>Véhicules garanties</h3>
      </li>
      <li><i class="fa-2x fas fa-thumbs-up"></i>
        <h3>Satisfait ou remboursé</h3>
      </li>
    </ul>
  </aside>
  <div id="lien" class="container-fluid text-white d-flex flex-column">
    <div class="row">
      <div class="col-12 col-md-4">
        <h3 class="mt-5 mb-3 text-white">LIENS UTILES</h3>
        <ul class="text-center">
          <li class="d-flex flex-start mb-2"><a [routerLink]="['/faq']" target="_blank">FAQ</a>
          </li>
          <li class="d-flex flex-start mb-2"><a [routerLink]="['/conditionsGeneralesVentes']" target="_blank">Conditions
              générales de
              vente</a></li>
          <li class="d-flex flex-start mb-2"><a [routerLink]="['/mentionsLegales']" target="_blank">Mentions
              légales</a>
          </li>
          <li class="d-flex flex-start"><a [routerLink]="['/politiqueConfidentialite']" target="_blank">Politique
              de
              confidentialité</a>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4">
        <h3 class="mt-5 mb-3 text-white">CONTACT</h3>
        <ul>
          <li><a href="#">contact@centreautoccas.com</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mt-5">
        <p class="mt-3 text-white font-weight-bold">" Trouvez la voiture de vos rêves dans notre réseau et bénéficier du
          meilleur prix ! "
        </p>

      </div>

    </div>
    <p class="text-white text-center pt-2">-- 2021 © Centre Auto CCAS --</p>
  </div>

</footer>
