<app-menu></app-menu>
<router-outlet></router-outlet>

<hr>
<footer>
  <aside>
    <ul class="d-flex justify-content-around text-center">
      <li><i class="fa-2x fas fa-user"></i>
        <h3>20 ans d'expérience</h3>
      </li>
      <li><i class="fa-2x fas fa-car-alt"></i>
        <h3>Véhicules disponibles<br>Véhicules garanties</h3>
      </li>
      <li><i class="fa-2x fas fa-thumbs-up"></i>
        <h3>Satisfait ou remboursé</h3>
      </li>
    </ul>
  </aside>
  <div id="lien" class="container-fluid">
    <ul class="text-center d-flex justify-content-around">
      <li class="d-inline-block justify-content-around"><a [routerLink]="['/faq']" target="_blank">FAQ</a>
      </li>
      <li class="d-inline-block justify-content-around"><a [routerLink]="['/conditionsGeneralesVentes']"
          target="_blank">Conditions générales de
          vente</a></li>
      <li class="d-inline-block justify-content-around"><a [routerLink]="['/mentionsLegales']" target="_blank">Mentions
          légales</a>
      </li>
      <li class="d-inline-block justify-content-around"><a [routerLink]="['/politiqueConfidentialite']"
          target="_blank">Politique de confidentialité</a>
      </li>
    </ul>
    <p class="text-white text-center pt-4">-- 2021 © Centre Auto CCAS --</p>
  </div>

</footer>
