h2 {
  margin-top: 20px;
}

/* Début section ajout */
ul {
  list-style: none;
  padding-left: 0;
}
section ul li img {
  width: 100%;
  object-fit: cover;
}

section ul li span {

border-style: outset;
  color: rgb(10, 0, 34);
  font-weight: bold;

}

h3 {
  font-weight: bold;
}

.button {
  transition: all 0.5s;
  cursor: pointer;
}

.button a {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover a {
  padding-right: 25px;
}

.button:hover a:after {
  opacity: 1;
  right: 0;
}

.cards:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
/* fin section ajout */
