<section class="container">
  <div class="cards h-auto border rounded p-3 mb-4">
    <h3 class="pb-4 text-center">{{voit.title}}</h3>
    <ul class="row">
      <li class="col-6"><img src="{{voit.photos[0].path}}"></li>
      <li class="col-6">
        <p class="row px-3">{{(voit.description.length>10)? (voit.description | slice:0:90)+' ...>>':(voit.description)}}
          <span
            class="fw-bold col-10 text-center mt-4 py-1">Prix: {{voit.price}} €</span></p>
      </li>
    </ul>
    <div class="d-flex align-items-center justify-content-end">
      <button class="button"><a class="text-white" [routerLink]="['/voiture', voit.id]">En
          savoir plus</a>

      </button>
    </div>

  </div>


</section>
