<div class="container">

  <div class="title">
    <h1 class="titleAd px-3">Mes garages</h1>
<div class="mb-5 mt-4">
    <a [routerLink]="['/myprofile/garages/add']" class="button text-center rounded-pill pt-1">Ajouter un garage</a>

</div>
    <p>Voici mes garages</p>
<div *ngFor="let garage of garage">
  <p>Nom du garage: {{garage.name}}</p>
  <p>Numéro de téléphone: {{garage.phone}}</p>
  <p>Addresse:{{garage.addressRue}}</p>
  <p>{{garage.addressCp}} - {{garage.addressCity}}</p>
  <button class="button-red" (click)="delete(garage.id)">Supprimer ce garage</button>
  <hr>
</div>

  </div>
</div>
