<div class="container">
  <div class="title">
  <h1 class="titleAd px-3">Qui suis-je?</h1>
  </div>

  <div>
    <p><b><< Ma priorité? Mettre tout en oeuvre pour vous satisfaire et que vous repartiez avec la voiture de vos rêves!>></b></p>
    <p>Je me présente, je suis Fabien Lodevie, gérant de l'entreprise: Centre Auto CCAS. J'ai repris l'entreprise familiale depuis maintenant 10 ans.
    </p>
    <p>Vous avez peur de vous faire arnaquer? Vous avez besoin d'être accompagné dans votre achat?
    Alors ne cherchez plus, vous êtes au bon endroit!</p>
    <p>Je traite directement avec des professionnels qui ont été auparavant sélectionnés selon nos critères de qualité pour m'engager à vous trouver le meilleur.
    J'inspecte et garantit la sécurite de votre future voiture. En sélectionnant les professionnels, plus de craintes de tomber sur des annonces douteuses!</p>
  <p>Si une annonce vous intéresse, contactez moi en m'envoyant la référence de l'annonce et je me mettrai en relation avec le professionnel pour vous obtenir le véhicule</p>
 <p>Pas de stress, oubliez la paperasse, votre achat n'aura jamais été aussi simple et rapide!</p>
  </div>
</div>
